<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-PgDqBR1IRaa2vheu8iis56jSGfImPeAAS97cPAo2w6eYkLgUC+bz2t4Hm1T8AXPSHHVIMxSdI68ZYtHZa+7gVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<h3> Contact Management</h3>

<div>
  <button (click)="openPopup()" style="margin-left: 82%;">Add Contact</button>
</div>

<div>
  <label>Search Email Address</label><br>
  <input type="text" placeholder="Search Email Address..." >

</div>

<div>
  <h2>List of Contacts</h2>

  <table>
    
    <tbody>
      <tr *ngFor="let contact of filteredContacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <button (click)="editContact(contact)">
            <i class="fa fa-edit"></i> Edit
          </button>
          <!-- Delete Icon -->
          <button (click)="deleteContact(contact)">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

